<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>05.MybatisMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.er</location>
  </error-page>
    <error-page>
  	<error-code>401</error-code>
  	<location>/401.er</location>
  </error-page>
    <error-page>
  	<error-code>500</error-code>
  	<location>/500.er</location>
  </error-page>
  <!-- 한글 인코딩 Strat -->
<filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>
		common.EncodingFilter
	</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>encodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
<!-- 한글 인코딩 End -->
  <!-- 401 : 인증오류
  404: url 또는 경롲문제
  500 : 코드오류 -->
</web-app>